<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/detail-user.css">
    <title>Document</title>
</head>

<body>
    <% if (locals.user?) {%>
        <img class="img-detalle-user" src="/images/user/<%= user.img %>" alt="image user" <% } %>>
        <h1 class="nombreCompleto-user">Hola
            <%= user.firstName %>
                <%= user.lastName %>
        </h1>
        <h3 class="email-user">email: <%= user.email %>
        </h3>


</body>

</html>