<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Porfolio - Not Found</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" />
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div class="error-container">
        <h1>Error 404</h1>
        <p>Lo siento, la página que estás buscando no se ha encontrado.</p>
        <a href="/">Volver a la página de inicio</a>
    </div>
</body>

</html>