<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/user/create" method="post" enctype="multipart/form-data">
        <div>
            <input type="text" placeholder="Nombre" name="firstname" value="<%= locals.oldData?.firstname && oldData?.firstname%>">
            <% if(locals.errors?.firstname) { %>
                <p><%= errors.firstname.msg %></p> 
            <% } %>
        </div>
        <div>
            <input type="text" placeholder="Apellido" name="lastname" value="<%= locals.oldData?.lastname && oldData?.lastname %>">
            <% if(locals.errors?.lastname) { %>
                <p><%= errors.lastname.msg %></p> 
            <% } %>
        </div>
        <div>
            <input type="file" name="img">
        </div>
        <div>
            <button type="submit">Enviar</button>
        </div>
    </form>
</body>
</html>